# Cognito Configuration
REACT_APP_COGNITO_REGION=us-west-2
REACT_APP_COGNITO_USER_POOL_ID=us-west-2_Tg7giNyV6
REACT_APP_COGNITO_CLIENT_ID=5fsml9o8fgg4504t412psbir1l

# API Configuration
REACT_APP_API_URL=https://ri2ubpde14.execute-api.us-west-2.amazonaws.com/prod

# Environment
REACT_APP_ENVIRONMENT=development
